/* Main Page Header */
#MainHeader .segment {
    padding: 1em 0em;
}

#MainHeader .ui.menu .ui.button {
    margin-left: 0.5em;
}

#MainHeader .ui.large.secondary.inverted.menu {
    margin: 0 0 0 0;
}






