<!-- Following Menu -->
<div class="ui large top fixed hidden menu" id="followMenu">
    <div class="ui container">
        <a href="<c:url value="/"/>" class="item"><spring:message code="Index.Home"/></a>

        <div class="right menu">
            <security:authorize access="!isAuthenticated()">
            <div class="item">
                <a href="<c:url value="/user/login/"/>" class="ui button"><spring:message code="Index.Login"/></a>
            </div>
            <div class="item">
                <a href="<c:url value="/user/register/"/>" class="ui primary button"><spring:message code="Index.Signup"/></a>
            </div>
            </security:authorize>

            <security:authorize access="isAuthenticated()">
                <div class="item">

                <security:authorize access="hasAuthority('USER_PRIVILEGE')">
                    <a href="<c:url value="/user/controlPanel/"/>" class="ui button"><spring:message code="Index.ControlPanel"/></a>
                </security:authorize>

                <security:authorize access="hasAuthority('ADMIN_PRIVILEGE')">
                    <a href="<c:url value="/admin/controlPanel/"/>" class="ui button"><spring:message code="Index.ControlPanel"/></a>
                </security:authorize>

                </div>

                <div class="item">
                    <a href="<c:url value="/user/logout/j_spring_security_logout"/>" class="ui primary button"><spring:message code="Index.Logout"/></a>
                </div>

            </security:authorize>

        </div>
    </div>
</div>

<!-- Header -->
<div class="ui inverted vertical masthead center aligned segment" id="MainHeader">

    <div class="ui container">
        <div class="ui large secondary inverted menu">

            <a href="?language=pl" class="item">
                <i class="pl flag"></i>
            </a>

            <a href="?language=en" class="item">
                <i class="us flag"></i>
            </a>
        </div>

        <div class="ui large secondary inverted menu">
            <a href="<c:url value="/"/>" class="item"><spring:message code="Index.Home"/></a>

            <security:authorize access="!isAuthenticated()">
                <div class="right item">
                    <a href="<c:url value="/user/login/"/>" class="ui inverted button"><spring:message code="Index.Login"/></a>
                    <a href="<c:url value="/user/register/"/>" class="ui inverted button"><spring:message code="Index.Signup"/></a>
                </div>
            </security:authorize>

            <security:authorize access="isAuthenticated()">
                <div class="right item">
                    <security:authorize access="hasAuthority('USER_PRIVILEGE')">
                        <a href="<c:url value="/user/controlPanel/"/>" class="ui inverted button"><spring:message code="Index.ControlPanel"/></a>
                    </security:authorize>

                    <security:authorize access="hasAuthority('ADMIN_PRIVILEGE')">
                        <a href="<c:url value="/admin/controlPanel/"/>" class="ui inverted button"><spring:message code="Index.ControlPanel"/></a>
                    </security:authorize>

                    <a href="<c:url value="/user/logout/j_spring_security_logout"/>" class="ui inverted button"><spring:message code="Index.Logout"/></a>
                </div>
            </security:authorize>

        </div>
    </div>
</div>

